.margin-kiri-kanan {
    padding: 0 200px 100px 200px;
}
.belakang {
    padding: 100px 100px 0 100px;
}
.footernya {
    padding: 30px 100px;
}
.navbarnya {
    padding: 0 100px;
}

@media screen and (max-width:750px){
    .margin-kiri-kanan {
        padding: 0 0 20px 0;
    }
    .belakang {
        padding: 50px 5% 0 5%;
    }
    .footernya {
        text-align: center;
        padding: 30px 5%;
    }
    .kirinya {
        padding-left: 0;
    }
    .navbarnya {
        padding: 0 5%;
    }
    #my-content {
        display: none;
    }
}